
.two
{
    font-family:cursive;
    color:hotpink;
    text-shadow:slategray ;
    font-size: xxx-large;
    margin-left: 300px;
}
.one{
    text-align: right;
    font-family: cursive;
    color:slategray ;
}
